.caution 投稿の送信に失敗しました
.sidebar-top
  .sidebar-top-content
    .user-name ユーザー名
    %span(class="glyphicon glyphicon-cog")
    %span(class="glyphicon glyphicon-edit")
.header
  .group-name グループ名
  .members Member：メンバー名
  %input{:type => "submit", :value => "Edit", :class => "edit-button" }
.clear
.sidebar-main
  .group-name グループ名
  .up-to-date 最新投稿です。
.main
  .content 投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。投稿内容です。
.clear
.footer
  %input{:name => "title", :size => "1" , :class => "footer-input" }
  %input{:type => "submit", :value => "send", :class => "footer-button"}
