%body
  .container
    .row
      %div(class="caution col-xs-12 text-center rounded-0")チャットグループが作成されました。
    .row
      %div(class="sidebar-top col-xs-3")
        .sidebar-top-contents
          %span テスト太郎
          %span(class="glyphicon glyphicon-edit")
          %span(class="glyphicon glyphicon-cog")
      %div(class="header col-xs-9")
        .group sampleグループ
        .member MEMBER:テスト太郎
        %button(class="btn-default btn-lg edit-button")edit
    .row
      %div(class="sidebar-main col-xs-3")
        %p(class="group") sampleグループ
        %p(class="new") 最新投稿
      %div(class="main col-xs-9")メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。メッセージ入力欄です。overflowしています。scrollしてください。
    .row
      %div(class="footer col-xs-9 col-md-offset-3  footer-content")
        %div(class="form-group")
          %input{:name => "title", :size => "105", :class => "footer-input"}
          %input{:type => "submit", :value => "send", :class => "btn btn-primary btn-lg footer-button" }
