$AlertColor: #38AEF0;
$SidebarMainColor: #2f3e51;
$SidebarTopColor: #253141;
$SidebarFontColor: #FFFFFF;
$BorderColor: #eeeeee;
$ContentFontColor: #999999;
$HeadlineColor: #333333;
$ContentBackColor: #AAAAAA;
$CommentsColor: #434A54;
