* {
  box-sizing: border-box;
}

.caution {
  background-color: $AlertColor;
  width: 100vw;
  text-align: center;
}

.sidebar-top {
  height: 100px;
  width: 300px;
  background-color: $SidebarTopColor;
  color: $SidebarFontColor;
  float: left;
}

.sidebar-top-content {
  padding: 40px 20px 40px 20px;
}

.sidebar-top-content .user-name {
  float: left;
}

.icon {
  float: right;
  margin-left: 5px;
  color: white;
}

.header {
  height: 100px;
  width: calc(100vw - 300px);
  float: right;
  padding: 35px 35px 0 35px;
  border-bottom: solid 1px $BorderColor;
}

.header .edit-button {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 73px;
  height: 43px;
  color: $AlertColor;
  background: white;
  border: $AlertColor solid 1px;
  font-size: 20px;
  }

  .header .group-name{
    font-size: 20px;
  }
  .header .members {
    margin-top: 15px;
    color: gray;
    font-size: 12px;
    font-weight: normal;
  }

.clear {
  clear: both;
}

.sidebar-main {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: $SidebarMainColor;
  color: $SidebarFontColor;
  float: left;
  padding: 20px;
}

.main {
  height: calc(100vh - 200px);
  width:  calc(100vw - 300px);
  float: right;
  overflow: scroll;
}

.content {
  overflow: scroll;
  height: calc(100vh - 200px);
  width:  calc(100vw - 300px);
}

.footer {
  height: 100px;
  width:  calc(100vw - 300px);
  background-color: gray;
  margin: -100px 0 0 300px;
  padding: 20px;
}

.footer-input {
  height: 50px;
  width: calc(100% - 100px);
}

.footer-button {
  width: 90px;
  height: 55px;
  color: white;
  background: $AlertColor;
  border: $AlertColor solid 1px;
  font-size: 20px
}

.group__name {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}

 .group__message {
  color: white;
  margin-bottom: 35px;
  font-size: 11px;
}

.form__message {
  width: calc(100% - 100px);
  float: left;
  height: 55px;
}

.form__mask .icon {
  position: absolute;
  right: 130px;
  bottom: 42px;
  color: black;
  font-size: 20px;
}

.form__submit {
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: 90px;
  height: 55px;
  color: white;
  background: $AlertColor;
  border: $AlertColor solid 1px;
  font-size: 20px;
}
