* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.hidden {
  display:none
}

.sidebar-top {
  height: 100px;
  width: 300px;
  background-color: $SidebarTopColor;
  color: $SidebarFontColor;
  float: left;
  .sidebar-top-content {
  padding: 40px 20px 40px 20px;
    .user-name {
  float: left;
    }
  .icon {
  float: right;
  margin-left: 5px;
  color: white;
  }
  }
}

.header {
  height: 100px;
  width: calc(100vw - 300px);
  float: right;
  padding: 35px 35px 0 35px;
  border-bottom: solid 1px $BorderColor;
  .group-name{
  font-size: 20px;
  }
}

.header {
  .edit-button {
  position: absolute;
  top: 30px;
  right: 45px;
  width: 73px;
  height: 43px;
  color: $AlertColor;
  background: white;
  border: $AlertColor solid 1px;
  font-size: 20px;
  }
}

.edit-button a {
  display: block;
  color: $AlertColor;
  margin-left: 15px;
  margin-top: 5px;
}

  .header .members {
    margin-top: 15px;
    color: #848484;
    font-size: 12px;
    font-weight: normal;
  }

.clear {
  clear: both;
}

.sidebar-main {
  background-color: $SidebarMainColor;
  color: $SidebarFontColor;
  float: left;
  padding: 20px;
  overflow: scroll;
  height: calc(100vh - 100px);
  width:  300px;
}

.main {
  height: calc(100vh - 200px);
  width:  calc(100vw - 300px);
  float: right;
  overflow: scroll;
}

.content {
  overflow: scroll;
  height: calc(100vh - 200px);
  width:  calc(100vw - 300px);
}

.footer {
  height: 100px;
  width:  calc(100vw - 300px);
  background-color: #D8D8D8;
  margin: -100px 0 0 300px;
  padding: 20px;
}

.footer-input {
  height: 50px;
  width: calc(100% - 100px);
}

.footer-button {
  width: 90px;
  height: 55px;
  color: white;
  background: $AlertColor;
  border: $AlertColor solid 1px;
  font-size: 20px
}

.group__name {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}

 .group__message {
  color: white;
  margin-bottom: 35px;
  font-size: 11px;
}

.form__message {
  width: calc(100% - 100px);
  float: left;
  height: 55px;
}

.form__mask .icon {
  position: absolute;
  right: 130px;
  bottom: 42px;
  color: black;
  font-size: 20px;
}

.form__submit {
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: 90px;
  height: 55px;
  color: white;
  background: $AlertColor;
  border: $AlertColor solid 1px;
  font-size: 20px;
}

.user-delete-line, .user-add-line {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
}

.user-add-line {
  border-bottom: 1px solid #ddd;
}

.user-search-remove, .user-search-add {
  float: right;
  display: inline-block;
  cursor: pointer;
}

.user-search-add {
  color: skyblue;
}

.user-search-remove {
  color: red;
}
